<div class="list-link flex-container">
  <%= f.input :word1, label: false, wrapper_html: {class: 'flex-child'}, error_html: {class: 'center-text'} %>
  <%= f.input :word2, label: false, wrapper_html: {class: 'flex-child'}, error_html: {class: 'center-text'} %>
</div>
