.list-link.flex-container
  = f.input :word1, label: false, wrapper_html: {class: 'flex-child'}, error_html: {class: 'center-text'}, input_html: {autocomplete: 'off', tabindex: (local_assigns[:tabindex] ? tabindex : "replace_me")}
  = f.input :word2, label: false, wrapper_html: {class: 'flex-child'}, error_html: {class: 'center-text'}, input_html: {autocomplete: 'off', tabindex: (local_assigns[:tabindex] ? tabindex+1 : "replace_me")}
