<div class="list-link flex-container">
  <%= f.input :word1, label: false, wrapper_html: {class: 'flex-child'}, error_html: {class: 'center-text'}, input_html: {placeholder: t('simple_form.placeholders.link.word1'), autocomplete: 'off'} %>
  <%= f.input :word2, label: false, wrapper_html: {class: 'flex-child'}, error_html: {class: 'center-text'}, input_html: {placeholder: t('simple_form.placeholders.link.word2'), autocomplete: 'off'} %>
</div>
