section.content
  = button_to t('.return_to_lists_index'), lists_path, class: 'center-object navigation-button', method: :get
  = button_to t('lists.index.quiz_this_list'), new_quiz_path(@list.id), class: 'center-object navigation-button', method: :get
  = button_to t('.edit_list'), edit_list_path(@list), class: 'center-object navigation-button', method: :get
  .card
    h1.list-title.center-text = @list.title
    p.center-text #{@list.t :subject}: #{@list.subject}
    p.center-text #{@list.t :topic1}: #{@list.topic1}
    p.center-text #{@list.t :topic2}: #{@list.topic2}
    h3.center-text #{@list.ta :links, 2}:
    - @list.links.each do |link|
      .flex-container
        p.flex-child.center-text = link.word1
        p.flex-child.center-text = link.word2
  .card.quiz-result
    - if @list.quiz_results.any?
      h3.center-text #{@list.ta :quiz_results, 2}:
    - else
      h3.center-text No quiz results recorded yet!
    - @list.quiz_results.order("created_at DESC").each do |quiz_result|
      .card2
        p.center-text: b = l(quiz_result.created_at, format: :quiz_result_finished)
        p.center-text #{quiz_result.t :quiz_type}: #{quiz_result.quiz_type}
        p.center-text #{quiz_result.t :direction}: #{quiz_result.direction}
        p.center-text #{((quiz_result.correct.to_f / (quiz_result.correct + quiz_result.quiz_errors.count)) * 100).to_i}% correct
        = link_to(t('.show_quiz_result'), quiz_result_url(@list.id, quiz_result.id), class: 'center-text')
  = button_to t('.delete_list'), @list, method: :delete, class: 'center-object navigation-button'
