section.content
  .devise-form
    h2.form-title = t :signup_verb
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .field
        = f.label :email
        = f.error :email, class: 'center-text'
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        = f.error :password, class: 'center-text'
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        = f.error :password_confirmation, class: 'center-text'
        = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit t(:signup_verb)
