h2#display-question.center-text
input#answer-input.center-object type="text" value=""
p#answer-feedback.center-text style="display:none"
input#check-answer.center-object type="button" value="#{t('quizzes.normal.check_answer')}"
