<h2 id="display-question" class="center-text"></h2>
<input type="text" id="answer-input" value="" class="center-object">
<p id="answer-feedback" style="display:none" class="center-text"></p>
<input type="button" id="check-answer" value="<%= t('quizzes.normal.check_answer') %>" class="center-object">
