section.content
  .card
    h3.center-text = (t '.quiz_for_header_html')%{list_title: @list.title}
    #quiz-container
      = render :partial => "quiz/quiz_containers/" + params[:quiz][:quiz_type], locals: {quiz_type: params[:quiz][:quiz_type]}
