<section id="home-banner">
  <div class="vertical-center">
    <h2><%= t '.banner_title' %></h2>
    <h1><%= t '.banner_subtitle' %></h1>
  </div>
</section>
<section id="home-signup">
  <%= render partial: 'shared/signup' %>
</section>
