<section id="home-banner">
  <div class="vertical-center">
    <h2>Learn words -<br>The easy way</h2>
    <h1>Create your own lists and test them.<br>For free, forever.</h1>
  </div>
</section>
<section id="home-signup">
  <%= render partial: 'shared/signup' %>
</section>
