body {
  background-color: #f4f2ef;
  font-family: 'Karla', serif;
}

h1 {
  font-size: 9vw;
}

h2 {
  font-size: 7.5vw;
}

p {
  font-size: 6vw;
}

header nav ul {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}
header nav ul li {
  flex: 1;
  text-align: center;
}

header nav ul li a {
  text-decoration: none;
  color: #39444c;
  font-weight: 700;
  font-size: 4vw;
}

header nav ul li + li {
  border-left: 3px solid #39444c;
}

header #site-logo {
  font-family: 'Noto Serif', serif;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #39444c;
  font-weight: 700;
  font-size: 8vw;
  margin: 5px 0 10px 0;
}

main {
  margin-top: 10px;
}
