#home-banner {
  width: 100%;
  height: calc(100vh - 100px);
  display: table;
}

#home-banner h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  font-weight: 900;
  color: #111;
  text-align: center;
  line-height: 55px;
}

#home-banner h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: 100px;
  color: #111;
  text-align: center;
  font-style: italic;
  line-height: 34px;
  padding-top: 15px;
}

#home-signup {
  font-family: 'Roboto Slab', serif;
  padding-bottom: 10px;
}

#home-signup h2 {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

#home-signup .field {
  text-align: center;
}

#home-signup .field label {
  line-height: 1.6;
}

#home-signup .actions input {
  margin: 10px auto;
  display: block;
}

#home-signup {
  background-color: #DCDCDC;
  margin: 0 30px 20px 30px;
  width: calc(100% - 60px);
  border-radius: 15px;
}
