#home-banner {
  height: 70vh;
  width: 100%;
  background-image: url('books.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#welcome-text {
  width: 60%;
  font-size: 8vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#welcome-text div {
  flex: 1;
}

#welcome-text div h1 {
  text-align: center;
}
