#home-banner {
  width: 100%;
  height: calc(100vh - 100px);
  display: table;
}

#home-banner h2 {
  font-size: 50px;
  font-weight: 900;
  color: var(--primary-color);
  text-align: center;
  line-height: 55px;
}

#home-banner h1 {
  font-size: 28px;
  font-weight: 100px;
  color: var(--primary-color);
  text-align: center;
  font-style: italic;
  line-height: 34px;
  padding-top: 15px;
}
