input.navigation-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-bottom: 10px;
  margin-top: 15px;
}

body.lists-edit h1, body.lists-new h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

list-index h3 {
  text-decoration: underline;
  font-size: 18px;
  padding-bottom: 10px;
  color: var(--secondary-color);
}

list-index a {
  color: var(--secondary-color);
}

.list-index input {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin-top: 12px;
}

.list-form input[type=text]{
  border: none;
}

.list-form .links div input, .list-form .list-topics div input {
  margin: 5px auto;
  display: block;
  width: 80%;
}

.links {
  margin-top: 15px;
}

.list-form a {
  font-size: 16px;
  line-height: 34px;
  color: var(--secondary-color);
}

.list-form input[type=submit] {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.list-form span.error {
  background-color: var(--alert-color);
  line-height: 25px;
  width: 80%;
  margin: 5px auto;
}

.list-form label {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

.list-form .links h1 {
  font-size: 18px;
}
.list-title {
  font-size: 20px;
  line-height: 40px;
}

.card p {
  font-size: 16px;
  line-height: 24px;
}

.list-properties {
  background-color: #DCDCDC;
  margin: 15px 10px 0 10px;
  padding: 10px;
  border-radius: 10px;
}
