input.button-link {
  margin: 0 auto;
  display: block;
}

div.list-index .list-index-list{
  background-color: #DCDCDC;
  margin: 15px 10px 0 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

div.list-index h3 {
  text-decoration: underline;
  font-size: 18px;
  padding-bottom: 10px;
  color: #111;
}

div.list-index p {
  line-height: 21px;
  color: #111;
}

div.list-index a {
  background-color: #BABABA;
  box-shadow: 0px 0px 12px 6px #DCDCDC inset;
  color: #111;
}

.list-form .list_title label, .list-form .list_subject label {
  display: block;
  text-align: center;
}

.list-form .list_title input, .list-form .list_subject input {
  display: block;
  margin: 0 auto;
}

.list-form .links .link-labels, .list-form .links .list-link, .list-form .list-topics, .list-form .topic-labels {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.list-form .links div, .list-form .links .link-labels label, .list-form .list-topics div, .list-form .topic-labels label {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.list-form .links div input, .list-form .list-topics div input {
  margin: 0 auto;
  display: block;
  width: 80%;
}

.list-form .links .link-labels label, .list-form .topic-labels label {
  text-align: center;
}

.list-form a {
  text-align: center;
  display: block;
}

.list-form input[type=submit] {
  margin: 0 auto;
  display: block;
}
