.simple_form.quiz {
  margin-top: 20px;

  input[type=submit] {
    margin-top: 15px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}

#quiz-container {
  margin-top: 15px;
  h2 {
    margin-bottom: 10px;
  }
  input[type=text] {
    margin-bottom: 10px;
  }
}
